/* ===========================================
                 GLOBAL STYLES
 ========================================== */
:root {
    --clr-green-300: hsl(153, 100%, 60%);
    --clr-green-500: hsl(153, 48%, 49%);

    --clr-black-200: hsl(0, 0%, 15%);
    --clr-black-300: hsl(0, 0%, 13%);
    --clr-black-400: hsl(0, 0%, 10%);
    --clr-black-500: hsl(0, 0%, 7%);

    --clr-white-300: hsl(0, 0%, 97%);
    --clr-white-500: hsl(0, 0%, 75%);

    --max-width: 1920px;
}

html {
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

@font-face {
    font-family: Nunito;
    src: url("../assets/fonts/Nunito-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: Nunito;
    src: url("../assets/fonts/Nunito-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Nunito;
    src: url("../assets/fonts/Nunito-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: Nunito Sans;
    src: url("../assets/fonts/NunitoSans-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: Nunito Sans;
    src: url("../assets/fonts/NunitoSans-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Nunito Sans;
    src: url("../assets/fonts/NunitoSans-Bold.ttf") format("truetype");
    font-weight: bold;
}

/* ===========================================
                 TYPOGRAPHY
 ========================================== */

body {
    color: var(--clr-white-500);
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
    background-color: var(--clr-black-500);
}

.overflow {
    overflow: hidden;
}

h1 {
    color: var(--clr-white-300);
}

h2 {
    color: var(--clr-green-500);
    font-size: clamp(2rem, 5vw, 2.5rem);
    text-align: center;
    margin-bottom: 1.5rem;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 1.1rem;
}

::-webkit-scrollbar-track {
    background-color: var(--clr-black-400);
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr-green-500);
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    min-height: 4.7rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--clr-green-300);
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
    background-color: rgb(51, 51, 51);
    display: block;
    background-size: 0.75rem;
    background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 1.4rem;
    background-position: center 0.45rem;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(65, 185, 131)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(77, 230, 161)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(51, 255, 163)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 1.4rem;
    background-position: center 0.6rem;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(65, 185, 131)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(77, 230, 161)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(51, 255, 163)'><polygon points='0,0 100,0 50,50'/></svg>");
}

@supports (scrollbar-color: var(--clr-green-500) var(--clr-black-400)) {
    * {
        scrollbar-color: var(--clr-green-500) var(--clr-black-400);
    }
}

/* ===========================================
                   LAYOUT
 ========================================== */

main {
    max-width: var(--max-width);
    margin: 0 auto;
}

section {
    padding: 2rem 2rem;
    background: var(--clr-black-500);
}

.projects-section,
.about-section {
    margin-bottom: 3rem;
}

/* ------------ HERO SECTION ------------ */

.hero-section {
    height: 100vh;
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.95), rgba(115, 113, 113, 0.2)), url('../assets/background.jpg');
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), to(rgba(115, 113, 113, 0.2))), url('../assets/background.jpg');
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(115, 113, 113, 0.2)), url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-container h1 {
    line-height: 1.1;
    font-size: clamp(1.3em, 6vw, 4.5em);
}

.hero-container {
    padding: 2em 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

span {
    color: var(--clr-green-500);
}

.hero-btns-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: center;
}

.hero-btns {
    margin-right: 1.5em;
}

.media-btns {
    text-decoration: none;
    color: var(--clr-white-300);
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.media-btns:hover {
    color: var(--clr-green-300);
}

.media-btns i {
    font-size: clamp(2em, 7vw, 2.5em);;
}

.projects-btn {
    border-radius: 0.2rem;
    padding: 0.6em 1.5em;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-weight: bold;
    font-size: clamp(1em, 3vw, 1.2em);
    background: var(--clr-green-500);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-property: background-color, color;
    -o-transition-property: background-color, color;
    transition-property: background-color, color;
    color: var(--clr-black-500);
}

.projects-btn:hover, .resume-btn:hover, .video-btn:hover {
    color: var(--clr-black-300);
    background: var(--clr-green-300);
}

/* ------------ PROJECTS SECTION ------------ */

.project {
    background-color: var(--clr-black-300);
    padding: 1.5em;
    margin-top: 2rem;
    border-radius: 0.2rem;
    overflow: hidden;
    box-shadow: 8px 8px 15px -8px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 8px 8px 15px -8px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 8px 8px 15px -8px rgba(0, 0, 0, 0.7);
    -o-box-shadow: 8px 8px 15px -8px rgba(0, 0, 0, 0.7);
}

.project-img img {
    width: 100%;
    height: auto;
}

.project-title {
    font-weight: bold;
    color: var(--clr-green-500);
    font-size: clamp(1.6rem, 4vw, 2rem);
    margin: 0.5em 0;
}

.project-title a {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.project-title a:hover {
    color: var(--clr-green-300);;
}

.project-description {
    letter-spacing: 0.05rem;
    font-weight: normal;
    font-size: clamp(1.1rem, 2vw, 1.3rem);
}

.project-more-btn {
    color: var(--clr-green-500);
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.project-more-btn:hover {
    color: var(--clr-green-300);
}

.project-tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 1rem;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.project-tools li {
    margin-right: 0.8rem;
}

.project-links {
    color: var(--clr-green-500);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.project-links a {
    margin-top: 0.2rem;
    font-size: clamp(1.7rem, 5vw, 2.3rem);
    margin-right: 1.2rem;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.project-links a:hover {
    color: var(--clr-green-300);
}

/* ------------ ABOUT SECTION ------------ */

.about-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.about-container {
    margin-top: 2rem;
}

.about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*.about-title {
    margin-bottom: 0.5em;
}*/

.about-img {
    width: 100%;
    height: auto;
    max-width: 20rem;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    margin-bottom: 1.5em;
    border-radius: 50%;
}

.about-container p {
    /*max-width: 20em;*/
    /*text-align: justify;*/
    letter-spacing: 0.02rem;
    color: var(--clr-white-300);
    font-weight: normal;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.about-btns-div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.resume-btn {
    padding: 0.4em 1em;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-weight: bold;
    font-size: clamp(1em, 3vw, 1.2em);
    border-radius: 0.2rem;
    background: var(--clr-green-500);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-property: color, background-color;
    -o-transition-property: color, background-color;
    transition-property: color, background-color;
    color: var(--clr-black-500);
}

/* ------------ SKILLS SECTION ------------ */
.skills-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(10px, 1fr)) [ 3 ];
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    grid-row-gap: 2em;
}

.skill {
    color: var(--clr-white-300);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.skill i {
    font-size: 3.5rem;
}

.skill-title {
    margin-bottom: 0.5rem;
}

.html i {
    color: #f16529
}

.css i {
    color: #2965f1;
}

.js i {
    color: #f0db4f;
}

.vue i {
    color: var(--clr-green-300);
}

.scss i {
    color: #CE679A;
}

/*.node i {
    color: #71B156;
}

.express i {
    color: #71B156;
}

.mongo i {
    color: #12964D;
}*/

.git i {
    color: #f1502f;
}

.github i {
    color: var(--clr-white-500);
}

.npm i {
    color: #cc3534;
}

.responsive i {
    color: #bb89f3;
}

/* ------------ CONTACT SECTION ------------ */

.contact-section {
    padding: 0;
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#map {
    height: 50rem;
    width: 100%;
}

.contact-container {
    width: 85%;
    max-width: 25em;
    background: var(--clr-black-400);
    padding: 2.5em 2em;
    /*margin: 1.2em 2em;*/
    margin-bottom: 2em;
    box-shadow: 8px 8px 15px -8px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 8px 8px 15px -8px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 8px 8px 15px -8px rgba(0, 0, 0, 0.7);
}

.contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-title {
    margin-bottom: 0.6rem;
}

.contact-mail {
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

.contact-mail p {
    margin-bottom: 0.4rem;
}

.form-group {
    width: 100%;
}

.form-elements {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    margin: 0.8rem 0;
    padding: 0.7rem 1rem;
    max-height: 100%;
    width: inherit;
    background: var(--clr-black-200);
    border-width: 0 0 0.2rem;
    outline: 0;
    color: var(--clr-white-300);
}

.form-elements:focus {
    border-bottom-color: var(--clr-green-500);
}

.form-elements::-webkit-input-placeholder, .contact-message::-webkit-input-placeholder {
    color: var(--clr-white-500);
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

.form-elements::-moz-placeholder, .contact-message::-moz-placeholder {
    color: var(--clr-white-500);
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

.form-elements:-ms-input-placeholder, .contact-message:-ms-input-placeholder {
    color: var(--clr-white-500);
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

.form-elements::-ms-input-placeholder, .contact-message::-ms-input-placeholder {
    color: var(--clr-white-500);
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

.form-elements::placeholder,
.contact-message::placeholder {
    color: var(--clr-white-500);
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

.contact-message {
    resize: none;
}

.contact-btn {
    font-family: "Nunito", sans-serif;
    color: var(--clr-black-500);
    margin-top: 1rem;
    width: 100%;
    padding: 0.4em 0;
    font-weight: bold;
    font-size: clamp(1em, 3vw, 1.2em);
    border-radius: 0.2rem;
    background: var(--clr-green-500);
    border: none;
    outline: transparent;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-property: color, background-color;
    -o-transition-property: color, background-color;
    transition-property: color, background-color;
}

.contact-btn:hover {
    background: var(--clr-green-300);
}

.input-error-msg {
    margin-bottom: 0.5rem;
    display: none;
}

.form-group.invalid .input-error-msg {
    color: #cc3534;
    display: block;
}

.form-group.invalid .form-elements {
    border-bottom-color: #cc3534;
}

/* ===========================================
                 COMPONENTS
 ========================================== */

/* ------------ NAVIGATION BAR ------------ */

.nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 1.5em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 10vh;
    position: fixed;
    z-index: 99;
    width: 100%;
}

.logo {
    font-size: 1.6rem;
    font-family: "Nunito", sans-serif;
}

.logo span {
    color: var(--clr-green-500);
}

.nav-list {
    background: var(--clr-green-500);
    list-style-type: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1em;
    width: 60%;
    font-size: 1.6em;
    font-weight: 700;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.nav-list li {
    margin: 0.6em 0;
    opacity: 0;
}

.nav-links {
    text-decoration: none;
    color: var(--clr-white-300)
}

.nav-bar a {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.nav-bar a:hover {
    cursor: pointer;
    color: var(--clr-green-300);
}

.burger-btn {
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.burger-btn div {
    width: 2rem;
    height: 0.2rem;
    background: var(--clr-white-300);
    margin: 0.4rem;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.nav-active {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
    from {
        opacity: 0;
        -webkit-transform: translateX(5em);
        transform: translateX(5em);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0em);
        transform: translateX(0em);
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        -webkit-transform: translateX(5em);
        transform: translateX(5em);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0em);
        transform: translateX(0em);
    }
}

.toggle .burger-line1 {
    -webkit-transform: rotate(-45deg) translate(-0.3rem, 0.5rem);
    -ms-transform: rotate(-45deg) translate(-0.3rem, 0.5rem);
    transform: rotate(-45deg) translate(-0.3rem, 0.5rem);
}

.toggle .burger-line2 {
    opacity: 0;
}

.toggle .burger-line3 {
    -webkit-transform: rotate(45deg) translate(-0.3rem, -0.5rem);
    -ms-transform: rotate(45deg) translate(-0.3rem, -0.5rem);
    transform: rotate(45deg) translate(-0.3rem, -0.5rem);
}

.blur::after {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(0.3rem) brightness(0.8);
    -webkit-backdrop-filter: blur(0.3rem) brightness(0.8);
}

.nav-media-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.nav-media-btns a {
    font-size: 1.2em;
    padding: 0 0.5em;
    text-decoration: none;
    color: var(--clr-white-300);
}

/* -------- LOAD PAGE ANIMATIONS -------*/
.from-left {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.from-right {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.from-left,
.from-right {
    -webkit-transition: opacity 0.6s ease-out,
    -webkit-transform 0.6s ease-out;
    transition: opacity 0.6s ease-out,
    -webkit-transform 0.6s ease-out;
    -o-transition: opacity 0.6s ease-out,
    transform 0.6s ease-out;
    transition: opacity 0.6s ease-out,
    transform 0.6s ease-out;
    transition: opacity 0.6s ease-out,
    transform 0.6s ease-out,
    -webkit-transform 0.6s ease-out;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.fade-in {
    -webkit-transform: translateY(2rem);
    -ms-transform: translateY(2rem);
    transform: translateY(2rem);
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in,
    -webkit-transform 0.4s ease-in;
    transition: opacity 0.5s ease-in,
    -webkit-transform 0.4s ease-in;
    -o-transition: opacity 0.5s ease-in,
    transform 0.4s ease-in;
    transition: opacity 0.5s ease-in,
    transform 0.4s ease-in;
    transition: opacity 0.5s ease-in,
    transform 0.4s ease-in,
    -webkit-transform 0.4s ease-in;
}

.fade-in.appear {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

/* ------------- BUTTONS ------------- */

.scrollBtn {
    position: fixed;
    bottom: 1.4rem;
    right: 1.4rem;
    z-index: 99;
    font-size: 1.4em;
    border: none;
    outline: none;
    background-color: var(--clr-green-500);
    color: var(--clr-white-300);
    cursor: pointer;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: scale(0) rotate(-90deg);
    -ms-transform: scale(0) rotate(-90deg);
    transform: scale(0) rotate(-90deg);
}

.scrollBtn:hover {
    background-color: var(--clr-green-300);
}

.fadeIn {
    visibility: visible;
    -webkit-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
}

.fadeOut {
    visibility: hidden;
    -webkit-transform: scale(0) rotate(-90deg);
    -ms-transform: scale(0) rotate(-90deg);
    transform: scale(0) rotate(-90deg);
}

/* ------------ FORM ALERTS ------------ */

.alert {
    padding: 1rem 0 1rem 0.5rem;
    min-width: 10rem;
    position: fixed;
    z-index: 99;
    right: 0;
    top: 6rem;
    font-weight: bold;
    border-radius: 0.2rem;
    box-shadow: 8px 8px 15px -8px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 8px 8px 15px -8px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 8px 8px 15px -8px rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
}

.success-alert {
    background: var(--clr-green-500);
    border-left: 0.4rem solid hsl(155, 76%, 17%);
}

.alert i {
    vertical-align: middle;
    font-size: 1.5rem;
}

.success-alert i {
    color: hsl(155, 76%, 17%);
}

.alert-msg {
    vertical-align: middle;
    padding-left: 0.2rem;
    font-size: 1.1rem;
}

.success-alert-msg {
    color: hsl(155, 76%, 17%);
}

.success-alert .close-btn:hover {
    background: hsl(155, 77%, 46%);
}

.error-alert {
    background: hsl(0, 60%, 50%);
    border-left: 0.4rem solid hsl(0, 80%, 25%);
}

.error-alert i {
    color: hsl(0, 80%, 25%);
}

.error-alert-msg {
    color: hsl(0, 80%, 25%);
}

.error-alert .close-btn:hover {
    background: hsl(0, 80%, 45%);
}

.close-btn {
    padding: 1.5rem 0.6rem;
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.close-btn:hover {
    cursor: pointer;
}

.close-btn i {
    vertical-align: middle;
    font-size: 1.4rem;
}

.alert.showAlert {
    opacity: 1;
    pointer-events: auto;
}

.alert.show {
    -webkit-animation: show_slide 1s ease forwards;
    animation: show_slide 1s ease forwards;
}

@-webkit-keyframes show_slide {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    40% {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    80% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-0.8rem);
        transform: translateX(-0.8rem);
    }
}

@keyframes show_slide {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    40% {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    80% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-0.8rem);
        transform: translateX(-0.8rem);
    }
}

.alert.hide {
    -webkit-animation: hide_slide 1s ease forwards;
    animation: hide_slide 1s ease forwards;
}

@-webkit-keyframes hide_slide {
    0% {
        -webkit-transform: translateX(-0.8rem);
        transform: translateX(-0.8rem);
    }
    40% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    80% {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes hide_slide {
    0% {
        -webkit-transform: translateX(-0.8rem);
        transform: translateX(-0.8rem);
    }
    40% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    80% {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

/* ===========================================
                 MEDIA QUERIES
 ========================================== */

/* ------------- TABLETS ------------- */
@media screen and (min-width: 481px) {
    section {
        /*background-color: #340f0f;*/
        padding: 2rem 3rem;
    }

    /* ------------- ABOUT ---------------*/
    .about-btns-div {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .about-btns {
        margin-right: 3rem;
    }

    /* ------------- SKILLS --------------*/
    .skills-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (minmax(10px, 1fr)) [ 4 ];
        grid-template-columns: repeat(4, minmax(10px, 1fr));
        grid-row-gap: 1.5em;
    }

    .skill i {
        font-size: 4rem;
    }

    /* ------------ CONTACT ---------------*/
    .contact-section {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .alert {
        padding: 1rem 0 1rem 1rem;
    }

    .alert i {
        font-size: 1.8rem;
    }

    .alert-msg {
        padding-left: 0.8rem;
    }

    .close-btn {
        padding: 1.5rem 1rem;
    }

    .close-btn i {
        font-size: 1.6rem;
    }

}

/* ------------- LAPTOPS/TABLETS ------------- */
@media only screen and (min-width: 769px) {
    section {
        padding: 2rem 5rem;
    }

    /* ------------ NAVIGATION ---------------*/
    .burger-btn {
        display: none;
    }

    .nav-bar {
        padding: 0 1.8rem;
        min-height: 5rem;
    }

    .nav-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row;
        flex-flow: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: static;
        background-color: transparent;
        height: auto;
        width: auto;
        padding: 0;
        font-size: 1.5em;
        font-weight: bold;
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }

    .nav-list li {
        margin: 0;
        opacity: 1;
    }

    .nav-links {
        padding-left: 0.8em;
    }

    .nav-media-btns {
        display: none;
    }

    .active-link {
        color: var(--clr-green-500)
    }

    /* ------------- PROJECTS -------------*/
    .project {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: transparent;
        display: -ms-grid;
        display: grid;
        grid-gap: 10px;
        -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 1fr);
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .project-img,
    .project-content,
    .project-img-reverse,
    .project-content-reverse {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2;
    }

    .project-content {
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
        grid-column: 1 / 8;
        grid-row: 1 / -1;
    }

    .project-content-reverse {
        grid-column: 6 / -1;
        grid-row: 1 / -1;
        text-align: right;
    }

    .project-tools li {
        background: var(--clr-black-200);
        color: var(--clr-green-500);
        padding: 0.4rem 0.8rem;
        margin-bottom: 0.8rem;
        border-radius: 0.2rem;
        box-shadow: 8px 8px 15px -8px rgba(0, 0, 0, 0.7);
        -webkit-box-shadow: 8px 8px 15px -8px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 8px 8px 15px -8px rgba(0, 0, 0, 0.7);
    }

    .project-tools-reverse li {
        margin-right: 0;
        margin-left: 0.8rem;
    }

    .project-tools-reverse {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .project-img,
    .project-img-reverse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .project-img {
        grid-column: 6 / -1;
        grid-row: 1 / -1;
    }

    .project-img-reverse {
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
        grid-column: 1 / 8;
        grid-row: 1 / -1;
    }

    .project-description {
        background: var(--clr-black-300);
        line-height: 1.8rem;
        padding: 1rem;
        border-radius: 0.4rem;
        box-shadow: 8px 8px 15px -8px rgba(0, 0, 0, 0.7);
        -webkit-box-shadow: 8px 8px 15px -8px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 8px 8px 15px -8px rgba(0, 0, 0, 0.7);
    }

    .project-links-reverse {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .project-links-reverse a {
        margin-right: 0;
        margin-left: 1.2rem;
    }

    /* -------------- ABOUT ---------------*/
    .about-content {
        gap: 2rem;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .about-img {
        width: auto;
        margin-bottom: 0;
    }

    /* ------------ CONTACT ---------------*/
    .contact-section {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .contact-container {
        margin: 0;
        right: 2em;
        width: 85%;
        max-width: 25em;
        position: absolute;
        z-index: 1;
    }

    .contact-btn {
        width: 10em;
    }

    /* ------------- BUTTONS --------------*/
    .hero-btn {
        height: 2.5em;
        font-size: 1.1em;
    }
}

/* ------------- LAPTOPS/DESKTOPS ------------- */
/*@media only screen and (min-width: 992px) {*/
@media only screen and (min-width: 1025px) {
    section {
        padding: 2rem 8rem;
    }

    /* -------------- ABOUT ---------------*/
    .about-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
        flex-flow: row-reverse;
        gap: 2em;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .about-section > * {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .about-container {
        margin-top: 0;
    }

    .about-img {
        margin-bottom: 1.5em;
    }

    .about-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 0;
    }

    .about-btns-div {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }

    .about-btns {
        margin-right: 0;
    }

    /* ------------ CONTACT ---------------*/
    .contact-container {
        max-width: 30rem;
    }
}

/* ---------------- DESKTOPS ----------------- */
@media screen and (min-width: 1201px) {
    section {
        padding: 2rem 8rem;
    }

    /* -------------- ABOUT ---------------*/
    .about-section {
        gap: 2em;
    }

    .about-container p {
        font-size: 1.4rem;
    }

    .about-btns-div {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .about-btns {
        margin-right: 3rem;
    }

    /* ------------- SKILLS --------------*/
    .skill i {
        font-size: 5rem;
    }

    .skill-title {
        font-size: 1.6em;
    }

    /* ------------- CONTACT -------------*/
    .contact-container {
        right: 8rem;
    }

    .alert-msg {
        font-size: 1.2rem;
    }
}

/* ------------- BIG DESKTOPS ------------- */
@media screen and (min-width: 1801px) {
    section {
        padding: 2rem 10rem;
    }

    .logo {
        font-size: 2rem;
    }

    .nav-bar {
        padding: 0 3rem;
        min-height: 10vh;
    }

    .nav-list {
        font-size: 1.6rem;
    }

    /* -------------- ABOUT ---------------*/
    .about-container {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .about-content {
        gap: 2.2rem;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .about-img {
        max-width: 22rem;
        margin-bottom: 0;
    }

    /* ------------- CONTACT -------------*/
    .contact-container {
        right: 10rem;
    }

    .contact-container p {
        font-size: 1.2rem;
    }
}