/* ===========================================
                 GLOBAL STYLES
 ========================================== */
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
}

/* ===========================================
                 TYPOGRAPHY
 ========================================== */
body {
    font-size: 16px;
}

/* ===========================================
                   LAYOUT
 ========================================== */

section {
    min-height: 500px;
    background: #131313;
}

.home-section {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(115, 113, 113, 0.2)), url('bg4k.png');
    color: white;
    font-size: 3em;
    font-family: 'Cyber', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-content {
    padding-left: 180px;
    padding-top: 320px;
    padding-bottom: 180px;
}

.home-name {
    font-family: sans-serif;
}

.home-content h2 span {
    font-size: 1.2em;
    color: #41B883;
}

.contact-section {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#map {
    min-height: 90vh;
    width: 100%;
}

.contact-div {
    background: #1a1919;
    width: 20%;
    padding: 2.5em 5em;
    font-family: 'Cyber', sans-serif;
    position: absolute;
    z-index: 99;
    margin-right: 10%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title {
    font-size: 2.5rem;
    margin-bottom: 0.6em;
    text-align: center;
    color: white;
}

.form-elements {
    font-size: 1.2em;
    margin: 0.8em;
    padding: 0.7em 1em;
    width: 100%;
    background: #262626;
    border-width: 0 0 0.3em;
    outline: 0;
    color: white;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4px), calc(100% - 2px) calc(100% - 2px), 102px calc(100% - 2px), 100px 100%, 4px 100%, 0 calc(100% - 4px));
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4px), calc(100% - 2px) calc(100% - 2px), 102px calc(100% - 2px), 100px 100%, 4px 100%, 0 calc(100% - 4px));
}

.form-elements:focus {
    border-bottom-color: #41B883;
}

.contact-form input {

}

.contact-form input::placeholder {
    font-family: 'Cyber', sans-serif;
}

.contact-message {
    resize: none
}

.contact-message::placeholder {
    font-family: 'Cyber', sans-serif;
}

footer {
    height: 500px;
    background-color: #262626;
}

/* ===========================================
                 COMPONENTS
 ========================================== */

/* ------------ NAVIGATION BAR ------------ */

.nav-bar {
    /*background-color: #333;*/
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 40px;
}

.nav-bar-title span {
    color: #41B883;
}

.nav-list {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 25px;
}

.nav-list-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;
}

.nav-list-item:hover {
    cursor: pointer;
    color: #41B883;
}

/* ------------ PROJECTS ------------ */

.projects {
    height: auto;
}

.project {
    display: flex;
    flex-flow: column;
    margin-left: 50%;
}

.project-content {
    display: block;
    padding-left: 120px;
    font-size: 50px;
    position: fixed;
    top: 40vh;
    color: white;
    width: 40%;
    height: 200px;
    font-family: 'Cyber', sans-serif;
}

.project-content ul {
    font-size: 20px;
    width: auto;
    display: flex;
    list-style: disc;
}

.project-content ul > li {
    list-style-position: inside;
    padding-right: 40px;
}

.project-images {
    height: 800px;
    background: #41B883;
    color: white;
    font-family: 'Cyber', sans-serif;
    font-size: 50px;
}

/* ------------- BUTTONS ------------- */

.btn-glitch {
    margin-top: 20px;
}

.btn-glitch, .btn-glitch:after {
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-family: 'Cyber', sans-serif;
    background: linear-gradient(45deg, transparent 5%, #41B883 5%);
    border: none;
    color: #1a1919;
    /*box-shadow: 6px 0 0 #41fc96;*/
    outline: transparent;
    position: relative;
    text-transform: uppercase;
    cursor: pointer
}

.btn-glitch:hover {
    background: linear-gradient(45deg, transparent 5%, #41fc96 5%);
}

.btn-glitch:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'ABOUT ME';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #3cfc8a 3%, #3cfc8a 5%, #41fc96 5%);
    text-shadow: -3px -3px 0 #ffffff, 3px 3px 0 #002aff;
    clip-path: var(--slice-0);
}

.btn-glitch:hover:after {
    animation: 1s glitchText;
    animation-timing-function: steps(2, end);

}

@keyframes glitchText {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}